*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: #333;
}
.header {
  display: flex;
  height: 10vw;
  max-height: 80px;
  min-height: 56px;
  padding: 0 10vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(500px);
  -webkit-backdrop-filter: blur(500px);
  background-color: #ffffff22;
  /* box-shadow: 0 3px 6px #00000012; */
  z-index: 1;
  transform: scale(1);
}

.logo-wrapper {
  cursor: default;
  user-select: none;
  font-size: 20px;
  flex: none;
}
.img-logo {
  width: 5vw;
  max-width: 40px;
  min-width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.img-google-play {
  width: 25vw;
  display: block;
  max-width: 180px;
}
.content {
  margin-top: 0px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #eee;
}
.section:nth-child(even) {
  flex-direction: row-reverse;
}

.section:nth-child(1) {
  background-color: #6c5ce7;
}
.section:nth-child(2) {
  background-color: #a29bfe;
}
.section:nth-child(3) {
  background-color: #0984e3;
}
.section:nth-child(4) {
  background-color: #74b9ff;
}
.section:nth-child(5) {
  background-color: #00b894;
}
.section:nth-child(6) {
  background-color: #636e72;
}
.section:nth-child(7) {
  background-color: #ff7675;
}
.section:nth-child(8) {
  background-color: #e17055;
}

.sec-title {
  font-size: 26px;
  text-align: center;
  padding: 0 10px;
  font-weight: normal;
}
.desc-sec {
  flex: 1;
  max-width: 560px;
  text-align: center;
}
.desc-sec h3 {
  font-size: 28px;
  font-weight: 600;
}

.img-fig {
  width: 40%;
  max-width: 280px;
  flex: none;
}

.intro-img {
  width: 100%;
}

.phone-frame {
  position: relative;
  display: inline-block;
  background-color: #333;
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: 3px 2px 6px #00000022;
  transition: all .2s;
  margin-bottom: -47px;
}

.phone-frame img {
  border-radius: 6px;
}

.phone-frame:hover {
  box-shadow: 5px 3px 50px #00000022;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #efefef;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10vw;
}

.dev-avatar {
  width: 30px;
  border-radius: 30px;
  margin: 0 10px;
}

.mail-link {
  color: #666;
}

.dev-desc {
  display: flex;
  flex: 1;
  align-items: center;
}
.badge-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .content section.section {
    flex-direction: column;
  }
  .desc-sec {
    flex: none;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
